#temp {
  font-size: 8pt;
  text-align: right;
}

.roboto {
  font-family: 'Roboto Condensed', sans-serif !important;
}

#LakonIconAbout {
  width: 10%;
  height: 10%;
  margin: 0 auto;
}

#logos {
  width: 30%;
  height: 30%;
  margin: 0 auto;
  margin-top: -1%;
}

footer {
  margin-top: 3%;
  position: center;
}

#tabs {
  width: 80%;
  margin: 0 auto;
}

#JudulResult {
  margin-top: -15px;
}

.list-group-item {
  font-family: 'Roboto Condensed', sans-serif;
}

.lobster {
  font-family: 'Lobster', cursive;
}

#JudulResult {
  font-family: 'Lobster', cursive;
  font-size: 45px;
}

body {
  background-color: #E5DDCB !important;
  margin-top: -6%;
}

#LakonIconSmall {
  width: 10%;
  height: 10%;
  margin: 0 auto;
  margin-top: -7%;
}

#LakonIcon {
  width: 13%;
  height: 13%;
  margin: 0 auto;
  margin-top: 3%;
}

#SearchButton {
  width: 100px;
} 

#JudulLanding {
  font-size: 90px;
  margin-top: -65px;
}

.judul {
  margin-top: 5%;
  margin-bottom: 20px;
  font-family: 'Lobster', cursive;
}

.search-form {
  height: auto;
  margin-top: 5%;
}
.input-group {
  margin-bottom: 20px;
}

/** TABS **/
.c-tabs-nav {
  display:flex;
  list-style:none;
  margin:0;
  padding:0;
}
.c-tabs-nav__link {
  flex: 1;
  margin-right: 4px;
  padding: 12px;
  color: #fff;
  background-color: #b3b3b3;
  text-align: center;
  transition: color 0.3s;
}
.c-tabs-nav__link:last-child {
  margin-right: 0;
}

.c-tabs-nav__link:hover {
  color: #6d6d6d;
}

.c-tabs-nav__link.is-active {
  color: #dc446e;
  background-color: #e7e7e7;
}

.c-tabs-nav__link i,
.c-tabs-nav__link span {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.c-tabs-nav__link i {
  font-size: 18px;
}

.c-tabs-nav__link span {
  display: none;
  font-size: 18px;
}

@media all and (min-width: 720px) {
  .c-tabs-nav__link i {
    margin-bottom: 12px;
    font-size: 22px;
  }
  .c-tabs-nav__link span {
    display: block;
  }
}

.c-tab {
  display: none;
  background-color: #e7e7e7;
}

.c-tab.is-active {
  display: block;
}

.c-tab__content {
  padding: 1.5rem;
}


/** RESULT PAGE **/
.keterangan {
  padding-left: 10px;
  font-family: 'Lobster', cursive;
}
.content-graf {
  height: 400px;
  width: auto;
}
.content {
  padding-right: 20%;
  padding-left: 20%;
}