.judul {
	margin-top: 5%;
	margin-bottom: 20px;
}

.search-form {
	min-height: 300px;
}
.input-group {
	margin-bottom: 20px;
}
.c-tabs {
	display:none;
}
.c-tabs.is-active {
	display:block;
}
.keterangan {
	padding-left: 10px;
}
.content-graf {
	height: 400px;
	width: auto;
}
.content {
	padding-right: 20%;
	padding-left: 20%;
}